extends my-settings-top

append head
    link(rel='stylesheet', href='/assets/css/my-settings-group.css')

block content2
    h3 Add User

    if error
        | #{error.message}

    form(method="post")
        div
            label(for="user") Username
            input(name="user" id="user")
        div
            input(type="submit" value="Add")

    h3 Existing Users

    if groupMembers.length > 0
        ul
            each member in groupMembers
                li.memlist
                    span= member.username
                    | 
                    form(method="post" class="fdel")
                        input(type="submit" value="x" title="delete")
                        input(type="hidden" name="deleteid" value=member.public_id)
    else
        div None
