extends ../layout

block content
    h2.pageh1 Privacy Policy
    p
        | #{site.name} records a small amount of data about all visitors.
    p
        | If you would like to audit what we collect please feel free to checkout the #[a(href=site.repo.url) Github repo].