extends ../layout

append head
    link(rel='stylesheet', href='/cillmit99b/sign-up.css')

block content
    h2.pageh1 Sign Up

    if error
        | #{error.message}
    form(method="post")
        div
            label(for="username") Username
            input(name="username" id="username" value=username)
        div
            label(for="password") Password
            input(name="password" id="password" type="password" )
        div
            input(type="checkbox" id="auto_login" name="auto_login" value="yes" checked=autoLogin)
            label(for="auto_login") Auto log in after sign up
        div
            input(type="submit" value="Sign Up")
